In [1]:
import pandas as pd

In [18]:
base_path="../Dataset/en-de/"
en = pd.read_csv(base_path+'idiom_test.en',sep='\n', header=None)
de = pd.read_csv(base_path+'idiom_test.de',sep='\n', header=None)
info = pd.read_csv(base_path+'idiom_test.info',sep='\t',header=None,names=["a", "en_idiom", "de_idiom",'d'])

In [27]:
info

       a             en_idiom                      de_idiom    d
0     -1  in this day and age          in der heutigen zeit   55
1      2        to be on hold                auf eis liegen   59
2      0    to close the door  die tür hinter sich zumachen   39
3      0      to take it easy       es ruhig angehen lassen   61
4      1           to pass on          das zeitliche segnen  834
...   ..                  ...                           ...  ...
1495  -1           to pass on          das zeitliche segnen  834
1496   4    to be in the know          im bild / bilde sein  164
1497   2          take care !           machen sie es gut !   44
1498  10           to beat it            die flatter machen   22
1499   9            to fly by      ( wie ) im flug vergehen   34

[1500 rows x 4 columns]