# Preprocess survey data

## Load and clean data

In [ ]:
!pip install cite

# Drive
from google.colab import drive

# Util
import os
import re
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cite
  Downloading cite-0.7.2-py2.py3-none-any.whl (5.2 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from cite) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from cite) (4.2.6)
Requirement already satisfied: python-slugify[unidecode] in /usr/local/lib/python3.7/dist-packages (from cite) (6.1.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify[unidecode]->cite) (1.3)
Collecting Unidecode>=1.1.1
  Downloading Unidecode-1.3.4-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 37.2 MB/s
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->cite) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->cite) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->cite) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->cite) (2.10)
Installing collected packages: Unidecode, cite
Successfully installed Unidecode-1.3.4 cite-0.7.2

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = "file path here"

In [ ]:
# Clean dataframe
def clean_df(df):
  # Remove irrelevant columns
  df.drop(df.columns[0:19], axis=1, inplace=True)
  df.drop(df.columns[92:95], axis=1, inplace=True)
  df.drop([0,1], axis=0, inplace=True)
  df.reset_index(drop=True, inplace=True)

  # Rename one question that for some reason has a weird name
  df.rename({"Q97_1":"QD-R9_1", "Q97_2":"QD-R9_2", "Q97_3":"QD-R9_3"}, axis=1, inplace=True)

  for col in df.columns:
    for i in range(len(df)):
      if df[col].iloc[i] is np.nan:
        df[col].iloc[i] = 0 # Set all NaN's to zero
      else:
        df[col].iloc[i] = int(df[col].iloc[i])    
      
  return df

In [ ]:
# Load survey data
df_all = pd.read_csv(file_path+"survey_all.csv")

df_all = clean_df(df_all)

0

In [ ]:
df_filt = pd.read_csv(file_path+"survey_filtered.csv") # Filtered for EN>=2, DE=3


df_filt = clean_df(df_filt)

In [ ]:
# for i in range(len(df_all.columns)):
#   print(i)
#   print(df_all[df_all.columns[i]].iloc[0])

## FUNC: Fixed questions

In [ ]:
# df for all fixed questions
def fixed_q(df):
  fix =  df.copy(deep=True)
  fix.drop(df.columns[4:28], axis=1, inplace=True)
  fix.drop(df.columns[32:56], axis=1, inplace=True)
  fix.drop(df.columns[62:92], axis=1, inplace=True)
  return fix

# df for sections B and C
def fixed_q_BC(df):
  fix =  df.copy(deep=True)
  fix.drop(df.columns[4:28], axis=1, inplace=True)
  fix.drop(df.columns[32:92], axis=1, inplace=True)
  return fix

# df for section D
def fixed_q_D(df):
  fix =  df.copy(deep=True)
  fix.drop(df.columns[0:56], axis=1, inplace=True)
  fix.drop(df.columns[62:92], axis=1, inplace=True)
  return fix

## FUNC: Group or Relabel Categories (to avoid overlap)

In [ ]:
# OPTIONAL, might improve interrater agreement
# Group first 2 parts into 4 categories ([don't know]=0, [incomprehensible, bad]=1, [adequate]=2,[good, flawless]=3)
def group_categories_overlap(df):
  grouped_df = df.copy(deep=True)
  groupdict = {0:0, 1:1, 2:1, 3:2, 4:3, 5:3}
  for col in grouped_df.columns[0:8]:
    for i in range(len(grouped_df)):
      grouped_df[col].iloc[i] = groupdict[grouped_df[col].iloc[i]]
  return grouped_df

In [ ]:
# ENSURES FOR NO OVERLAP BETWEEN B-C and D

# OPTIONAL, might improve interrater agreement
# Group first 2 parts into 4 categories ([don't know]=0, [incomprehensible, bad]=4, [adequate]=5,[good, flawless]=6)
def group_categories(df):
  grouped_df = df.copy(deep=True)
  # changed it to [4,5,6] instead of [1,2,3] to avoid overlap with Comparison group
  groupdict = {0:0, 1:4, 2:4, 3:5, 4:6, 5:6}
  for col in grouped_df.columns[0:8]:
    for i in range(len(grouped_df)):
      grouped_df[col].iloc[i] = groupdict[grouped_df[col].iloc[i]]
  return grouped_df

In [ ]:
# Simple relabelling!
def relabel_categories(df):
  grouped_df = df.copy(deep=True)
  # changed it to [4,5,6,7,8] instead of [1,2,3,4,5] to avoid overlap with Comparison group
  groupdict = {0:0, 1:4, 2:5, 3:6, 4:7, 5:8}
  for col in grouped_df.columns[0:8]:
    for i in range(len(grouped_df)):
      grouped_df[col].iloc[i] = groupdict[grouped_df[col].iloc[i]]
  return grouped_df

In [ ]:
fix = fixed_q(df_filt)

## Step 1 -  Isolate B & C from D

Isolate B and C from D

ALL

In [ ]:
fixD = fixed_q_D(df_all)

In [ ]:
fixBC = fixed_q_BC(df_all)

FILTERED

In [ ]:
fixD = fixed_q_D(df_filt)

In [ ]:
fixBC = fixed_q_BC(df_filt)

In [ ]:
fixBC

   QB-F1-1 QB-F1-2 QB-F2-1 QB-F2-2 QC-F1-1 QC-F1-2 QC-F2-1 QC-F2-2
0        4       3       5       4       5       5       3       2
1        2       3       1       1       1       3       2       2
2        4       3       4       4       5       4       4       2
3        3       2       3       1       2       3       2       2
4        5       3       5       5       3       3       2       1
5        4       2       5       5       5       5       4       2
6        4       5       4       2       2       2       3       4
7        3       2       4       4       3       2       3       2
8        4       2       5       4       2       4       1       1
9        2       3       3       3       2       5       2       2
10       2       3       2       1       4       5       2       2
11       3       4       4       4       4       2       4       3
12       5       3       5       2       4       5       4       3
13       2       4       5       2       2       5       5       4
14       5       3       5       2       5       5       4       3
15       2       5       3       4       4       2       2       4
16       3       5       5       5       2       4       2       3
17       5       4       5       5       2       2       3       1
18       5       3       5       5       2       3       2       1
19       5       5       5       5       3       3       3       3
20       3       3       4       4       2       5       1       1
21       5       2       5       5       2       2       3       1
22       4       2       4       4       2       2       2       1
23       4       2       4       3       1       4       2       3
24       5       4       3       3       4       5       3       2
25       5       5       5       0       2       5       3       1
26       2       5       4       4       5       2       5       1
27       3       4       4       5       2       3       2       1
28       2       4       2       2       3       4       2       1
29       5       5       5       5       5       5       1       1
30       3       3       1       1       5       5       3       2
31       2       3       5       5       4       5       4       5
32       4       4       4       5       1       2       3       2
33       3       2       5       3       3       5       2       1
34       4       3       4       4       2       2       2       3
35       2       4       5       2       1       4       4       1
36       5       4       5       2       5       4       5       2
37       4       2       5       1       5       5       3       2
38       4       4       5       3       3       4       2       1
39       5       4       5       5       2       5       3       4
40       5       3       5       5       1       4       2       1
41       4       5       5       5       2       1       4       3
42       3       3       4       5       2       5       2       1
43       4       2       5       2       2       2       2       2
44       4       3       5       3       3       4       4       2
45       4       3       3       2       1       2       3       2
46       5       2       5       5       2       5       4       3
47       5       5       5       5       2       2       2       1
48       4       3       4       3       4       1       4       1
49       4       3       5       5       3       3       3       2
50       5       5       5       5       2       5       3       2
51       0       3       5       5       2       2       2       1
52       4       3       4       3       5       3       2       1

## Step 2 (A) -  Relabel (1,2,3,4,5) -> (4,5,6,7,8)

Relabel instead of Group

In [ ]:
fixBC_relabel = relabel_categories(fixBC) 
fixBC_relabel

   QB-F1-1 QB-F1-2 QB-F2-1 QB-F2-2 QC-F1-1 QC-F1-2 QC-F2-1 QC-F2-2
0        7       6       8       7       8       8       6       5
1        5       6       4       4       4       6       5       5
2        7       6       7       7       8       7       7       5
3        6       5       6       4       5       6       5       5
4        8       6       8       8       6       6       5       4
5        7       5       8       8       8       8       7       5
6        7       8       7       5       5       5       6       7
7        6       5       7       7       6       5       6       5
8        7       5       8       7       5       7       4       4
9        5       6       6       6       5       8       5       5
10       5       6       5       4       7       8       5       5
11       6       7       7       7       7       5       7       6
12       8       6       8       5       7       8       7       6
13       5       7       8       5       5       8       8       7
14       8       6       8       5       8       8       7       6
15       5       8       6       7       7       5       5       7
16       6       8       8       8       5       7       5       6
17       8       7       8       8       5       5       6       4
18       8       6       8       8       5       6       5       4
19       8       8       8       8       6       6       6       6
20       6       6       7       7       5       8       4       4
21       8       5       8       8       5       5       6       4
22       7       5       7       7       5       5       5       4
23       7       5       7       6       4       7       5       6
24       8       7       6       6       7       8       6       5
25       8       8       8       0       5       8       6       4
26       5       8       7       7       8       5       8       4
27       6       7       7       8       5       6       5       4
28       5       7       5       5       6       7       5       4
29       8       8       8       8       8       8       4       4
30       6       6       4       4       8       8       6       5
31       5       6       8       8       7       8       7       8
32       7       7       7       8       4       5       6       5
33       6       5       8       6       6       8       5       4
34       7       6       7       7       5       5       5       6
35       5       7       8       5       4       7       7       4
36       8       7       8       5       8       7       8       5
37       7       5       8       4       8       8       6       5
38       7       7       8       6       6       7       5       4
39       8       7       8       8       5       8       6       7
40       8       6       8       8       4       7       5       4
41       7       8       8       8       5       4       7       6
42       6       6       7       8       5       8       5       4
43       7       5       8       5       5       5       5       5
44       7       6       8       6       6       7       7       5
45       7       6       6       5       4       5       6       5
46       8       5       8       8       5       8       7       6
47       8       8       8       8       5       5       5       4
48       7       6       7       6       7       4       7       4
49       7       6       8       8       6       6       6       5
50       8       8       8       8       5       8       6       5
51       0       6       8       8       5       5       5       4
52       7       6       7       6       8       6       5       4

Recombine fixBC and fixD - RELABELLED

In [ ]:
fixBC_relabel.index.name = "Index"
fixD.index.name = "Index"

In [ ]:
fix_relabel = fixBC_relabel.merge(fixD, on="Index")

df = fix_relabel

df

,QB-F1-1,QB-F1-2,QB-F2-1,QB-F2-2,QC-F1-1,QC-F1-2,QC-F2-1,QC-F2-2,QD-F1_1,QD-F1_2,QD-F1_3,QD-F2_1,QD-F2_2,QD-F2_3
Index,,,,,,,,,,,,,,
0,7,6,8,7,8,8,6,5,1,2,3,2,3,1
1,5,6,4,4,4,6,5,5,2,1,3,2,3,1
2,7,6,7,7,8,7,7,5,2,3,1,2,1,3
3,6,5,6,4,5,6,5,5,1,2,3,1,3,2
4,8,6,8,8,6,6,5,4,2,1,3,2,3,1
5,7,5,8,8,8,8,7,5,1,2,3,2,3,1
6,7,8,7,5,5,5,6,7,2,1,3,2,3,1
7,6,5,7,7,6,5,6,5,2,1,3,1,3,2
8,7,5,8,7,5,7,4,4,2,1,3,2,3,1
9,5,6,6,6,5,8,5,5,2,1,3,2,3,1
10,5,6,5,4,7,8,5,5,3,1,2,1,3,2
11,6,7,7,7,7,5,7,6,1,2,3,2,3,1
12,8,6,8,5,7,8,7,6,2,1,3,2,3,1
13,5,7,8,5,5,8,8,7,0,0,0,2,3,1
14,8,6,8,5,8,8,7,6,1,2,3,2,3,1
15,5,8,6,7,7,5,5,7,0,0,0,2,3,1
16,6,8,8,8,5,7,5,6,1,2,3,2,3,1
17,8,7,8,8,5,5,6,4,0,0,0,2,3,1
18,8,6,8,8,5,6,5,4,2,1,3,2,3,1
19,8,8,8,8,6,6,6,6,1,2,3,3,2,1
20,6,6,7,7,5,8,4,4,1,2,3,1,3,2
21,8,5,8,8,5,5,6,4,2,1,3,1,3,2
22,7,5,7,7,5,5,5,4,2,1,3,2,3,1
23,7,5,7,6,4,7,5,6,1,2,3,2,3,1
24,8,7,6,6,7,8,6,5,1,2,3,1,3,2
25,8,8,8,0,5,8,6,4,2,1,3,2,3,1
26,5,8,7,7,8,5,8,4,1,2,3,3,2,1
27,6,7,7,8,5,6,5,4,1,2,3,2,3,1
28,5,7,5,5,6,7,5,4,1,2,3,2,3,1
29,8,8,8,8,8,8,4,4,2,1,3,2,3,1
30,6,6,4,4,8,8,6,5,0,0,0,2,3,1
31,5,6,8,8,7,8,7,8,1,2,3,2,3,1
32,7,7,7,8,4,5,6,5,1,2,3,2,3,1
33,6,5,8,6,6,8,5,4,1,2,3,3,2,1
34,7,6,7,7,5,5,5,6,2,1,3,2,3,1
35,5,7,8,5,4,7,7,4,1,2,3,2,3,1
36,8,7,8,5,8,7,8,5,1,2,3,2,3,1
37,7,5,8,4,8,8,6,5,1,2,3,2,3,1
38,7,7,8,6,6,7,5,4,2,1,3,2,3,1
39,8,7,8,8,5,8,6,7,2,1,3,2,3,1
40,8,6,8,8,4,7,5,4,2,1,3,2,3,1
41,7,8,8,8,5,4,7,6,2,1,3,2,3,1
42,6,6,7,8,5,8,5,4,1,2,3,2,3,1
43,7,5,8,5,5,5,5,5,2,1,3,2,3,1
44,7,6,8,6,6,7,7,5,1,2,3,2,3,1
45,7,6,6,5,4,5,6,5,2,1,3,3,2,1
46,8,5,8,8,5,8,7,6,1,2,3,2,3,1
47,8,8,8,8,5,5,5,4,1,2,3,2,3,1
48,7,6,7,6,7,4,7,4,1,2,3,2,3,1
49,7,6,8,8,6,6,6,5,1,2,3,2,3,1
50,8,8,8,8,5,8,6,5,1,2,3,2,3,1
51,0,6,8,8,5,5,5,4,3,2,1,2,3,1
52,7,6,7,6,8,6,5,4,2,3,1,1,2,3

## Step 2 (B) - Group (instead of Relabel)

Group values in B and C

In [ ]:
# Group responses into categories (to see if it improves interrater agreement)
# fixBC_group = group_categories(fixBC) 
fixBC_group = group_categories_overlap(fixBC) 
fixBC_group

   QB-F1-1 QB-F1-2 QB-F2-1 QB-F2-2 QC-F1-1 QC-F1-2 QC-F2-1 QC-F2-2
0        3       2       3       3       3       3       2       1
1        1       2       1       1       1       2       1       1
2        3       2       3       3       3       3       3       1
3        2       1       2       1       1       2       1       1
4        3       2       3       3       2       2       1       1
5        3       1       3       3       3       3       3       1
6        3       3       3       1       1       1       2       3
7        2       1       3       3       2       1       2       1
8        3       1       3       3       1       3       1       1
9        1       2       2       2       1       3       1       1
10       1       2       1       1       3       3       1       1
11       2       3       3       3       3       1       3       2
12       3       2       3       1       3       3       3       2
13       1       3       3       1       1       3       3       3
14       3       2       3       1       3       3       3       2
15       1       3       2       3       3       1       1       3
16       2       3       3       3       1       3       1       2
17       3       3       3       3       1       1       2       1
18       3       2       3       3       1       2       1       1
19       3       3       3       3       2       2       2       2
20       2       2       3       3       1       3       1       1
21       3       1       3       3       1       1       2       1
22       3       1       3       3       1       1       1       1
23       3       1       3       2       1       3       1       2
24       3       3       2       2       3       3       2       1
25       3       3       3       0       1       3       2       1
26       1       3       3       3       3       1       3       1
27       2       3       3       3       1       2       1       1
28       1       3       1       1       2       3       1       1
29       3       3       3       3       3       3       1       1
30       2       2       1       1       3       3       2       1
31       1       2       3       3       3       3       3       3
32       3       3       3       3       1       1       2       1
33       2       1       3       2       2       3       1       1
34       3       2       3       3       1       1       1       2
35       1       3       3       1       1       3       3       1
36       3       3       3       1       3       3       3       1
37       3       1       3       1       3       3       2       1
38       3       3       3       2       2       3       1       1
39       3       3       3       3       1       3       2       3
40       3       2       3       3       1       3       1       1
41       3       3       3       3       1       1       3       2
42       2       2       3       3       1       3       1       1
43       3       1       3       1       1       1       1       1
44       3       2       3       2       2       3       3       1
45       3       2       2       1       1       1       2       1
46       3       1       3       3       1       3       3       2
47       3       3       3       3       1       1       1       1
48       3       2       3       2       3       1       3       1
49       3       2       3       3       2       2       2       1
50       3       3       3       3       1       3       2       1
51       0       2       3       3       1       1       1       1
52       3       2       3       2       3       2       1       1

Recombine fixBC and fixD - GROUPED

In [ ]:
fixBC_group.index.name = "Index"
fixD.index.name = "Index"

In [ ]:
fix_group = fixBC_group.merge(fixD, on="Index")

df = fix_group

df

,QB-F1-1,QB-F1-2,QB-F2-1,QB-F2-2,QC-F1-1,QC-F1-2,QC-F2-1,QC-F2-2,QD-F1_1,QD-F1_2,QD-F1_3,QD-F2_1,QD-F2_2,QD-F2_3
Index,,,,,,,,,,,,,,
0,6,5,6,6,6,6,5,4,1,2,3,2,3,1
1,4,5,4,4,4,5,4,4,2,1,3,2,3,1
2,6,5,6,6,6,6,6,4,2,3,1,2,1,3
3,5,4,5,4,4,5,4,4,1,2,3,1,3,2
4,6,5,6,6,5,5,4,4,2,1,3,2,3,1
5,6,4,6,6,6,6,6,4,1,2,3,2,3,1
6,6,6,6,4,4,4,5,6,2,1,3,2,3,1
7,5,4,6,6,5,4,5,4,2,1,3,1,3,2
8,6,4,6,6,4,6,4,4,2,1,3,2,3,1
9,4,5,5,5,4,6,4,4,2,1,3,2,3,1
10,4,5,4,4,6,6,4,4,3,1,2,1,3,2
11,5,6,6,6,6,4,6,5,1,2,3,2,3,1
12,6,5,6,4,6,6,6,5,2,1,3,2,3,1
13,4,6,6,4,4,6,6,6,0,0,0,2,3,1
14,6,5,6,4,6,6,6,5,1,2,3,2,3,1
15,4,6,5,6,6,4,4,6,0,0,0,2,3,1
16,5,6,6,6,4,6,4,5,1,2,3,2,3,1
17,6,6,6,6,4,4,5,4,0,0,0,2,3,1
18,6,5,6,6,4,5,4,4,2,1,3,2,3,1
19,6,6,6,6,5,5,5,5,1,2,3,3,2,1
20,5,5,6,6,4,6,4,4,1,2,3,1,3,2
21,6,4,6,6,4,4,5,4,2,1,3,1,3,2
22,6,4,6,6,4,4,4,4,2,1,3,2,3,1
23,6,4,6,5,4,6,4,5,1,2,3,2,3,1
24,6,6,5,5,6,6,5,4,1,2,3,1,3,2
25,6,6,6,0,4,6,5,4,2,1,3,2,3,1
26,4,6,6,6,6,4,6,4,1,2,3,3,2,1
27,5,6,6,6,4,5,4,4,1,2,3,2,3,1
28,4,6,4,4,5,6,4,4,1,2,3,2,3,1
29,6,6,6,6,6,6,4,4,2,1,3,2,3,1
30,5,5,4,4,6,6,5,4,0,0,0,2,3,1
31,4,5,6,6,6,6,6,6,1,2,3,2,3,1
32,6,6,6,6,4,4,5,4,1,2,3,2,3,1
33,5,4,6,5,5,6,4,4,1,2,3,3,2,1
34,6,5,6,6,4,4,4,5,2,1,3,2,3,1
35,4,6,6,4,4,6,6,4,1,2,3,2,3,1
36,6,6,6,4,6,6,6,4,1,2,3,2,3,1
37,6,4,6,4,6,6,5,4,1,2,3,2,3,1
38,6,6,6,5,5,6,4,4,2,1,3,2,3,1
39,6,6,6,6,4,6,5,6,2,1,3,2,3,1
40,6,5,6,6,4,6,4,4,2,1,3,2,3,1
41,6,6,6,6,4,4,6,5,2,1,3,2,3,1
42,5,5,6,6,4,6,4,4,1,2,3,2,3,1
43,6,4,6,4,4,4,4,4,2,1,3,2,3,1
44,6,5,6,5,5,6,6,4,1,2,3,2,3,1
45,6,5,5,4,4,4,5,4,2,1,3,3,2,1
46,6,4,6,6,4,6,6,5,1,2,3,2,3,1
47,6,6,6,6,4,4,4,4,1,2,3,2,3,1
48,6,5,6,5,6,4,6,4,1,2,3,2,3,1
49,6,5,6,6,5,5,5,4,1,2,3,2,3,1
50,6,6,6,6,4,6,5,4,1,2,3,2,3,1
51,0,5,6,6,4,4,4,4,3,2,1,2,3,1
52,6,5,6,5,6,5,4,4,2,3,1,1,2,3

## Step 3 - Remove Zeroes

Remove columns with zeroes

In [ ]:
def drop_all_zeroes(df):
  df = df.loc[(df != 0).any(axis=1)]
  return df

In [ ]:
def drop_any_zeroes(df):
  df = df.loc[(df != 0).all(axis=1)]
  return df

In [ ]:
df = fixBC

In [ ]:
#drop any zeroes
df_noZeroes = drop_any_zeroes(df)

## Step 4 - Convert from Pandas Dataframe to a list (necessary for library)

In [ ]:
# Version without zeroes
df_noZeroes_list = df_noZeroes.values.tolist()

In [ ]:
# Version with zeroes
df_list = df.values.tolist()

# Inter rater agreement using Krippendorff's Alpha Score

In [ ]:
#https://en.wikipedia.org/wiki/Krippendorff%27s_alpha
#https://pypi.org/project/krippendorff/

!pip install krippendorff
import krippendorff

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting krippendorff
  Downloading krippendorff-0.5.1-py3-none-any.whl (17 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from krippendorff) (1.21.6)
Installing collected packages: krippendorff
Successfully installed krippendorff-0.5.1

In [ ]:
res = krippendorff.alpha(df_noZeroes_list)

res

0.18671781086635386

In [ ]:
# Trying out krippendorff on data split into the two sections
df = df_filt
fixBC = fixed_q_BC(df)
fixD = fixed_q_D(df)

# fixBC = group_categories(fixBC) 

fixBC = drop_any_zeroes(fixBC)
fixD = drop_any_zeroes(fixD)

rate = fixBC.values.tolist()
rank = fixD.values.tolist()

res1 = krippendorff.alpha(rate)
print(res1)
res2 = krippendorff.alpha(rank)
print(res2)

0.22193537322801138
0.613775654819751

#### Try Fleiss kappa (couldnt get it to work)

In [ ]:
from statsmodels.stats.inter_rater import fleiss_kappa, aggregate_raters

In [ ]:
# Trying out fleiss on data split into the two sections
df = df_filt
fixBC = fixed_q_BC(df)
fixD = fixed_q_D(df)

# fixBC = group_categories(fixBC) 

fixBC = drop_any_zeroes(fixBC)
fixD = drop_any_zeroes(fixD)

rate = aggregate_raters(fixBC)
rank = aggregate_raters(fixD)

res1 = fleiss_kappa(rate)
print(res1)
res2 = fleiss_kappa(rank)
print(res2)

/usr/local/lib/python3.7/dist-packages/statsmodels/stats/inter_rater.py:246: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  table = 1.0 * np.asarray(table)   #avoid integer division

ValueError: ignored

# Dictionary of all answered questions for each question

In [ ]:
def quest_dict(df):
  quest = dict()
  for col in df.columns:
    ans = list(df[col])
    ans = [val for val in ans if val != 0]
    quest[col] = ans
  return quest 

# Probably also make it

In [ ]:
quest = quest_dict(df_all)

print(quest)

{'QB-F1-1': [4, 2, 4, 3, 4, 5, 4, 4, 3, 4, 2, 2, 4, 5, 3, 2, 5, 2, 5, 2, 4, 3, 5, 5, 5, 2, 3, 2, 5, 4, 4, 5, 5, 2, 4, 3, 2, 5, 5, 3, 2, 4, 3, 3, 4, 2, 5, 4, 4, 5, 5, 3, 5, 4, 3, 3, 4, 4, 4, 5, 2, 5, 4, 4, 5, 4], 'QB-F1-2': [3, 3, 3, 2, 3, 3, 2, 5, 2, 2, 3, 3, 4, 5, 4, 3, 4, 3, 5, 3, 5, 4, 3, 5, 2, 3, 2, 2, 2, 2, 4, 5, 5, 5, 4, 4, 3, 5, 3, 3, 4, 3, 2, 3, 4, 4, 2, 4, 4, 5, 5, 3, 5, 4, 3, 2, 3, 3, 2, 2, 5, 3, 3, 5, 3, 3], 'QB-F2-1': [5, 1, 4, 3, 4, 5, 5, 4, 4, 5, 3, 2, 5, 4, 4, 2, 5, 5, 5, 3, 4, 5, 5, 5, 5, 2, 4, 2, 5, 4, 4, 3, 5, 4, 5, 4, 2, 5, 5, 1, 5, 4, 5, 5, 4, 5, 5, 5, 5, 5, 4, 4, 5, 5, 4, 4, 5, 5, 3, 5, 3, 5, 4, 5, 5, 5, 4], 'QB-F2-2': [4, 1, 4, 1, 5, 5, 5, 2, 4, 4, 3, 1, 1, 5, 4, 2, 2, 2, 2, 4, 2, 5, 5, 5, 5, 2, 4, 2, 5, 4, 3, 3, 4, 3, 5, 2, 2, 5, 1, 5, 5, 5, 3, 4, 2, 2, 1, 3, 5, 4, 5, 5, 5, 4, 5, 2, 3, 2, 5, 2, 5, 3, 5, 5, 5, 3], 'QB-R1-1': [5, 4, 4, 2, 2, 1, 3, 4, 2, 5, 4, 4, 5, 5, 5, 5, 4, 5], 'QB-R1-2': [2, 3, 2, 3, 3, 1, 2, 2, 1, 3, 2, 2, 3, 1, 1, 2, 4, 1], 'QB-R2-1': [5, 5, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 5], 'QB-R2-2': [5, 4, 5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 2, 5], 'QB-R3-1': [5, 2, 2, 1, 2, 4, 4, 2, 1, 5, 4, 3, 4, 2, 4], 'QB-R3-2': [2, 1, 2, 1, 1, 2, 1, 4, 2, 1, 2, 1, 1, 1, 2, 1], 'QB-R4-1': [5, 5, 5, 3, 5, 2, 2, 2, 5, 2, 2, 3, 5, 5, 3, 2, 2], 'QB-R4-2': [5, 5, 5, 5, 5, 2, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 5], 'QB-R5-1': [5, 3, 4, 4, 4, 3, 3, 2, 1, 3, 5, 3, 5, 3, 2, 4, 5, 5], 'QB-R5-2': [3, 3, 2, 2, 5, 4, 2, 3, 1, 4, 4, 2, 2, 2, 2, 3, 2, 3], 'QB-R6-1': [1, 4, 1, 1, 2, 3, 1, 2, 4, 1, 3, 2, 2, 1], 'QB-R6-2': [1, 1, 1, 2, 2, 3, 1, 1, 3, 1, 1, 1, 1, 1], 'QB-R7-1': [4, 3, 5, 2, 2, 3, 2, 4, 3, 3, 4, 3, 5, 4, 4, 5, 5], 'QB-R7-2': [3, 3, 4, 2, 3, 3, 3, 5, 3, 4, 3, 3, 5, 4, 3, 5, 2], 'QB-R8-1': [5, 5, 4, 4, 4, 4, 5, 2, 4, 5, 5, 4, 4, 3, 3, 2, 4], 'QB-R8-2': [5, 5, 5, 5, 2, 4, 5, 2, 5, 5, 5, 4, 5, 5, 5, 3, 3], 'QB-R9-1': [3, 4, 5, 3, 5, 5, 4, 5, 3, 5, 3, 5, 5, 5, 4, 5, 5, 4], 'QB-R9-2': [3, 3, 5, 3, 5, 2, 5, 5, 3, 2, 5, 3, 5, 4, 5, 5, 3, 2], 'QB-R10-1': [4, 5, 5, 5, 3, 5, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5], 'QB-R10-2': [4, 5, 4, 5, 3, 5, 1, 4, 4, 4, 4, 5, 5, 5, 5, 5], 'QB-R11-1': [4, 5, 5, 5, 3, 3, 5, 5, 2, 4, 2, 4, 4, 5, 5, 5, 5, 5], 'QB-R11-2': [3, 3, 4, 4, 3, 2, 3, 4, 3, 5, 2, 3, 4, 3, 4, 3, 4, 3], 'QB-R12-1': [2, 4, 2, 2, 3, 5, 3, 2, 2, 4, 2, 4, 3, 4, 5], 'QB-R12-2': [2, 3, 2, 3, 5, 3, 2, 3, 4, 3, 2, 3, 3, 4, 1], 'QC-F1-1': [5, 1, 5, 2, 4, 3, 5, 2, 3, 2, 2, 4, 2, 4, 4, 2, 4, 2, 5, 4, 5, 2, 2, 2, 3, 2, 2, 2, 2, 2, 1, 4, 2, 5, 5, 2, 3, 2, 5, 5, 4, 1, 2, 3, 2, 1, 5, 5, 3, 2, 3, 3, 1, 2, 2, 2, 2, 3, 1, 2, 1, 2, 4, 3, 2, 2, 5], 'QC-F1-2': [5, 3, 4, 3, 2, 3, 5, 2, 2, 4, 5, 5, 5, 5, 2, 2, 5, 5, 5, 2, 5, 4, 2, 3, 3, 2, 5, 2, 2, 2, 4, 5, 5, 2, 5, 3, 4, 5, 5, 5, 5, 2, 2, 5, 2, 4, 4, 5, 4, 5, 2, 5, 4, 1, 5, 5, 2, 4, 2, 5, 3, 2, 1, 3, 5, 2, 3], 'QC-F2-1': [3, 2, 4, 2, 4, 2, 4, 3, 3, 1, 2, 2, 2, 5, 4, 2, 4, 5, 4, 2, 4, 2, 3, 2, 3, 2, 1, 1, 3, 2, 2, 3, 3, 5, 5, 2, 2, 5, 1, 3, 4, 3, 2, 2, 2, 4, 5, 3, 2, 3, 4, 2, 2, 4, 3, 2, 2, 4, 3, 4, 1, 2, 4, 3, 3, 2, 2], 'QC-F2-2': [2, 2, 2, 2, 2, 1, 2, 4, 2, 1, 2, 2, 5, 3, 3, 2, 3, 4, 3, 4, 3, 3, 1, 1, 3, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 5, 1, 2, 5, 2, 1, 1, 3, 1, 2, 2, 1, 4, 5, 2, 1, 3, 3, 1, 2, 2, 2, 3, 1, 1, 1, 2, 2, 1, 1], 'QC-R1-1': [4, 4, 5, 5, 5, 5, 5, 5, 5, 4, 2, 5, 4, 5, 1, 5, 4], 'QC-R1-2': [2, 3, 3, 4, 2, 5, 1, 1, 5, 2, 1, 2, 1, 3, 1, 4, 3], 'QC-R2-1': [5, 4, 5, 4, 3, 4, 4, 2, 5, 4, 5, 4, 4, 4, 4, 5, 2], 'QC-R2-2': [5, 3, 5, 4, 4, 5, 5, 4, 5, 5, 3, 5, 5, 4, 5, 5, 5], 'QC-R3-1': [4, 2, 2, 2, 2, 3, 1, 2, 4, 4, 2, 3, 3, 4, 4, 2, 1, 5], 'QC-R3-2': [4, 1, 3, 3, 2, 2, 1, 4, 3, 4, 2, 2, 3, 2, 3, 3, 1, 2], 'QC-R4-1': [3, 2, 5, 4, 2, 2, 2, 2, 2, 3, 2, 3, 4, 4, 3, 4], 'QC-R4-2': [4, 4, 5, 4, 5, 3, 3, 4, 2, 5, 5, 5, 4, 4, 5, 3], 'QC-R5-1': [3, 3, 5, 1, 4, 4, 4, 1, 4, 5, 5, 5, 2, 1, 1, 4, 5, 5, 5], 'QC-R5-1.1': [3, 1, 1, 1, 1, 4, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'QC-R6-1': [4, 5, 4, 2, 3, 4, 3, 2, 5, 3, 4, 5, 5, 4, 5, 3, 5], 'QC-R6-2': [4, 5, 5, 5, 3, 5, 3, 3, 4, 4, 4, 5, 3, 5, 5, 2, 5], 'QC-R7-1': [5, 4, 5, 5, 1, 5, 5, 5, 5, 5, 3, 5, 4], 'QC-R7-2': [5, 4, 5, 5, 1, 5, 5, 5, 5, 5, 3, 4, 4], 'QC-R8-1': [5, 4, 4, 4, 5, 2, 1, 5, 5, 4, 4, 4, 5, 5, 4, 5, 5], 'QC-R8-2': [5, 2, 1, 5, 2, 4, 1, 1, 2, 1, 3, 2, 5, 5, 3, 2, 3], 'QC-R9-1': [4, 5, 5, 3, 5, 3, 1, 3, 5, 4, 5, 4, 5, 5, 2, 3, 2, 4, 5], 'QC-R9-2': [4, 5, 5, 4, 3, 4, 1, 3, 4, 4, 2, 5, 5, 3, 3, 4, 2, 2, 4], 'QC-R10-1': [3, 4, 1, 5, 2, 4, 5, 5, 4, 4, 3, 5, 5, 4, 5], 'QC-R10-2': [2, 2, 2, 4, 4, 1, 3, 3, 2, 1, 2, 3, 3, 2, 4], 'QC-R11-1': [5, 4, 5, 5, 5, 4, 4, 5, 5, 5, 5, 4, 4, 4, 4, 4], 'QC-R11-2': [4, 3, 5, 5, 4, 4, 4, 4, 5, 5, 5, 5, 5, 4, 5, 3], 'QC-R12-1': [2, 2, 3, 4, 2, 1, 2, 4, 3, 4, 2, 4, 4, 5, 4, 2], 'QC-R12-2': [4, 5, 4, 4, 3, 1, 5, 4, 4, 5, 5, 5, 4, 5, 3, 2], 'QD-F1_1': [1, 2, 2, 1, 1, 2, 1, 2, 2, 2, 2, 3, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 3, 2], 'QD-F1_2': [2, 1, 3, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 2, 3], 'QD-F1_3': [3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1], 'QD-F2_1': [2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 2, 3, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 1, 1, 3, 1, 2, 2, 1, 2, 3, 3, 2, 2, 3, 2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 3, 2, 1, 2, 2, 2, 2, 2, 1], 'QD-F2_2': [3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 3, 2, 3, 3, 3, 3, 3, 2, 2, 3, 3, 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 3, 2], 'QD-F2_3': [1, 1, 3, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3], 'QD-R1_1': [3, 1, 1, 3, 3, 2, 3, 1, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 1], 'QD-R1_2': [1, 3, 2, 2, 2, 3, 2, 2, 1, 1, 2, 1, 3, 2, 1, 1, 1, 1, 3], 'QD-R1_3': [2, 2, 3, 1, 1, 1, 1, 3, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2], 'QD-R2_1': [3, 3, 2, 2, 2, 3, 3, 2, 1, 2, 1, 2, 3, 2, 3, 2, 2, 3, 1], 'QD-R2_2': [1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 3, 1, 2, 1, 1, 1, 3, 1, 3], 'QD-R2_3': [2, 2, 3, 3, 1, 2, 1, 3, 3, 3, 2, 3, 1, 3, 2, 3, 1, 2, 2], 'QD-R3_1': [3, 3, 2, 2, 3, 2, 2, 2, 2, 2, 3, 3, 3, 2, 1, 2, 3, 2, 2, 2], 'QD-R3_2': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1], 'QD-R3_3': [2, 2, 3, 3, 2, 3, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 2, 3, 3, 3], 'QD-R4_1': [2, 2, 3, 2, 1, 3, 3, 3, 3, 2, 2, 3, 3, 2, 2, 3, 3, 3, 2, 2], 'QD-R4_2': [1, 3, 2, 1, 2, 2, 2, 2, 2, 3, 1, 1, 2, 3, 3, 2, 1, 2, 1, 3], 'QD-R4_3': [3, 1, 1, 3, 3, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 2, 1, 3, 1], 'QD-R5_1': [1, 2, 1, 2, 3, 2, 2, 2, 2, 2, 3, 2, 2, 3, 2, 2, 3, 2, 1], 'QD-R5_2': [2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 3], 'QD-R5_3': [3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3, 1, 3, 3, 2, 3, 2], 'QD-R6_1': [3, 1, 1, 3, 3, 3, 3, 3, 3, 3, 2, 1, 1, 3, 2, 1, 1, 2, 2], 'QD-R6_2': [1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 2, 3, 3, 2, 1, 3], 'QD-R6_3': [2, 3, 3, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 3, 3, 1], 'QD-R7_1': [3, 3, 2, 3, 2, 3, 3, 2, 3, 1, 2, 3, 3, 3, 3, 3, 2, 2, 3, 3, 3, 2], 'QD-R7_2': [2, 2, 1, 2, 3, 2, 2, 3, 2, 2, 3, 2, 2, 2, 2, 2, 3, 3, 2, 2, 2, 3], 'QD-R7_3': [1, 1, 3, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'QD-R8_1': [2, 2, 3, 1, 3, 1, 3, 1, 2, 2, 3, 1, 3, 1, 1, 2, 3, 3, 2, 1, 3], 'QD-R8_2': [1, 3, 2, 2, 2, 2, 2, 3, 1, 1, 2, 3, 2, 3, 2, 3, 1, 2, 3, 3, 2], 'QD-R8_3': [3, 1, 1, 3, 1, 3, 1, 2, 3, 3, 1, 2, 1, 2, 3, 1, 2, 1, 1, 2, 1], 'Q97_1': [3, 1, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3], 'Q97_2': [1, 3, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2], 'Q97_3': [2, 2, 1, 2, 1, 2, 1, 1, 3, 1, 2, 1, 1, 2, 1, 1, 1, 1, 3, 1, 1], 'QD-R10_1': [3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], 'QD-R10_2': [2, 2, 1, 2, 2, 2, 2, 3, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1], 'QD-R10_3': [1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2]}

In [ ]:
print(df_all.columns)
print(len(df_all.columns))

Index(['QB-F1-1', 'QB-F1-2', 'QB-F2-1', 'QB-F2-2', 'QB-R1-1', 'QB-R1-2',
       'QB-R2-1', 'QB-R2-2', 'QB-R3-1', 'QB-R3-2', 'QB-R4-1', 'QB-R4-2',
       'QB-R5-1', 'QB-R5-2', 'QB-R6-1', 'QB-R6-2', 'QB-R7-1', 'QB-R7-2',
       'QB-R8-1', 'QB-R8-2', 'QB-R9-1', 'QB-R9-2', 'QB-R10-1', 'QB-R10-2',
       'QB-R11-1', 'QB-R11-2', 'QB-R12-1', 'QB-R12-2', 'QC-F1-1', 'QC-F1-2',
       'QC-F2-1', 'QC-F2-2', 'QC-R1-1', 'QC-R1-2', 'QC-R2-1', 'QC-R2-2',
       'QC-R3-1', 'QC-R3-2', 'QC-R4-1', 'QC-R4-2', 'QC-R5-1', 'QC-R5-1.1',
       'QC-R6-1', 'QC-R6-2', 'QC-R7-1', 'QC-R7-2', 'QC-R8-1', 'QC-R8-2',
       'QC-R9-1', 'QC-R9-2', 'QC-R10-1', 'QC-R10-2', 'QC-R11-1', 'QC-R11-2',
       'QC-R12-1', 'QC-R12-2', 'QD-F1_1', 'QD-F1_2', 'QD-F1_3', 'QD-F2_1',
       'QD-F2_2', 'QD-F2_3', 'QD-R1_1', 'QD-R1_2', 'QD-R1_3', 'QD-R2_1',
       'QD-R2_2', 'QD-R2_3', 'QD-R3_1', 'QD-R3_2', 'QD-R3_3', 'QD-R4_1',
       'QD-R4_2', 'QD-R4_3', 'QD-R5_1', 'QD-R5_2', 'QD-R5_3', 'QD-R6_1',
       'QD-R6_2', 'QD-R6_3', 'QD-R7_1', 'QD-R7_2', 'QD-R7_3', 'QD-R8_1',
       'QD-R8_2', 'QD-R8_3', 'Q97_1', 'Q97_2', 'Q97_3', 'QD-R10_1', 'QD-R10_2',
       'QD-R10_3'],
      dtype='object')
92

In [ ]:
# Columns to take for each section
cols = df_all.columns

e2e_fluent_col = cols[0:27:2]
e2e_meaning_col = cols[1:28:2]
pipe_fluent_col = cols[28:55:2]
pipe_meaning_col = cols[29:56:2]

base_comp_col = [cols[i] for i in [57,61,64,65,68,73,75,79,81,85,88,89]]
e2e_comp_col = [cols[i] for i in [58,59,63,66,70,71,76,78,80,84,87,90]]
pipe_comp_col = [cols[i] for i in [56,60,62,67,69,72,74,77,82,83,86,91]]

In [ ]:
# Make dataframe for each section
def dict_from_cols(cols):
  dic = dict()
  for col in cols:
    dic[col] = quest[col]
  return dic

In [ ]:
# Arrays for each section
e2e_fluent = dict_from_cols(e2e_fluent_col)
e2e_meaning = dict_from_cols(e2e_meaning_col)
pipe_fluent = dict_from_cols(pipe_fluent_col)
pipe_meaning = dict_from_cols(pipe_meaning_col)

base_comp = dict_from_cols(base_comp_col)
e2e_comp = dict_from_cols(e2e_comp_col)
pipe_comp = dict_from_cols(pipe_comp_col)